<div class="container-fluid">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand mx-2 mb-1" routerLink="main">
            <img class="mx-2" src="assets/lagalt-logo-cropped.png"/>
        </a>
        <div class="collapse navbar-collapse justify-content-center mx-2">
            <app-search></app-search>
        </div>
        <div class="collapse navbar-collapse justify-content-center">
            <app-get-recommended></app-get-recommended>
            <app-add-new-project></app-add-new-project>
        </div>
        <div class="collapse navbar-collapse justify-content-end ">
            <ul class="navbar-nav mb-0 mb-lg-0">
                <li class="nav-item"><a class="nav-link" routerLink="main">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="my-project">Your Projects</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="profile">User Profile</a></li>
            </ul>
            <app-auth-nav></app-auth-nav>
        </div>
    </nav>
    
</div>
