<div class="container-fluid">
  <nav class="navbar navbar-expand">
    <a class="navbar-brand mx-2 mb-1" routerLink="main">
      <img class="mx-2" src="assets/lagalt-logo-nav.png" />
    </a>
    <div class="collapse navbar-collapse justify-content-center">
      <app-search></app-search>
    </div>
    <div class="navi collapse navbar-collapse justify-content-center">
      <app-add-new-project *ngIf="userId !== 0"></app-add-new-project>
    </div>
    <div class="navi collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mb-0 mb-lg-0">
        <li class="nav-item">
          <a class="home nav-link" routerLink="main">Hjem</a>
        </li>
        <li *ngIf="userId !== 0" class="myproj nav-item">
          <a class="nav-link" routerLink="my-projects">Mine Prosjekter</a>
        </li>
        <li *ngIf="userId !== 0" class="myprofil nav-item">
          <a class="nav-link" routerLink="profile">Min Profil</a>
        </li>
        <app-auth-nav></app-auth-nav>
      </ul>
    </div>
  </nav>
</div>
