<div class ="pp container-fluid">
  <div class="row project-details">
    <img class="col-sm-2" src="{{project.image}}" alt="project logo"/>
    <div class="col-sm-6 project-industry text-center">
      <h1>{{project.title}}</h1>
    </div>
    <div  class="col-sm-4 project-name">
      <div class="" style="font-weight: bold;">
          Project created by: {{"userName"}}
      </div>
      <div class="" style="font-weight: bold;">
        Status: {{project.progress}}
      </div>
      <!-- <h4>{{project.profession}}</h4> -->
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4>
          Messages:
        </h4>
      </div>
      <div class="col-sm-4 project-description">
        <h3>
          Project description
        </h3>
        <h5>
          {{project.description}}
        </h5>
      </div>
      <div class="col-sm-4 project-skills">
        <h3>
          Skills needed:
        </h3>
        <h5>
        {{project.skills}}
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        There are currently "4" applications to this project
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1">
      <br/>
        <app-project-status></app-project-status>
      </div>
    </div>
    <div class="row flex-row-reverse">
      <div class="col-sm-4">
        <app-project-apply-pop-up></app-project-apply-pop-up>
      </div>
    </div>
    <div class="project-info">
      <br />
      <div>
      </div>
      <div class="project-tags">
        <span> {{"projectTags"}}</span>
      </div>
      <div class="project-source">
        <span> {{project.source}}</span>
      </div>
    </div>
  </div>
</div>
