.project-details{
    margin: auto;
    width: 90%;
    border: 3px solid green;
    padding: 10px;
}

.project-industry{
    width: 20%;
    border: 3px solid green;
    padding: 10px;

    margin-left: 0; 
    margin-right: auto;
    text-align: center;
    background-color: aqua;
    
}

.project-name{
    text-align: center;
}

.project-image{
    max-height: 50px;
    max-width: 50px;
    text-align: right;    
}

.projcet-apply-button{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}