
.title{
  margin-top: 30px;
}
.projectPage{
  background-color: #ECEFF4;
  margin-top: 20px;
 }
 .appchat{
   margin-top: 10px;
 }
.projdesc{
  color:#354A59;

}
.image{
    max-height: 275px;
    max-width: 336px;
}
.projectprogress{
  color:#354A59;
}

.projcet-apply-button{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 90%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.description{
  margin-top: 100px;
  margin-right: 30px;
}
.projdesc{
  margin-top: 5px;
  border: solid;
  border-color: #D8DEE9;
  border-width: 2px;
  border-radius: 1%;
  min-height: 500px;
  width: 65%;
  margin: 0 auto;
}
.project-industry{
}

.skilllist{
  color:#354A59;
  margin-left: 15px;
}
.skill{
  width: 100px;
  color: white;
  background-color:#354A59 ;
}
.skillsinput{
  text-align: end;
  width: 180;
  margin-top: 5px;
  background-color: #D8DEE9;
  border: solid;
  border-radius: 1%;
  height: 145px;
}
.applications{
  margin-top: 25px;
}

.apply{
  margin-top: 25px;
}
.lager{
  margin-top: 15px;
}

.statusdiv{
  background-color: #D8DEE9;
  border: solid;
  border-radius: 1%;
}

.skillsdiv{
  min-height: 200px;
  margin-top: 15px;
  background-color: #D8DEE9;
  border: solid;
  border-radius: 1%;
}

.skillsinputdiv{
  margin-top: 20px;
}

.status{
  margin-top: 5px;
  background-color: #D8DEE9;
  border: solid;
  border-radius: 1%;
  height: 180px;
}