  <div class="">
    <app-my-projects-list-of-projects></app-my-projects-list-of-projects>
  </div>
  <footer class="pagination container justify-content-center">
    <div>
      <div class="mt-1">
        <button class="btn btn-outline-dark" (click)="onPrevClick()" [disabled]="currentPage === 1">Prev</button>&nbsp;
        <button class="btn btn-outline-dark" (click)="onNextClick()" [disabled]="currentPage === totalPages">Next</button>
      </div>
      <p class="text-center mt-1">Page {{ currentPage }} of {{ totalPages }}</p>
    </div> 
  </footer>


