<div>
    <form class="form-inline" #searchProjectForm="ngForm" (ngSubmit)="searchForProject(searchProjectForm)">
        <div class="d-flex">
            <input
            ngModel
            class="form-control"
            placeholder="Search for a specific project here..."
            #username="ngModel"
            name = "searchInput"
            id = "searchInput"
            required>
            <button class="btn btn-success form-control"
                            type="submit">Search</button>
        </div>
    </form>
</div>
