<div class="">
    <form class="form-inline" #searchProjectForm="ngForm" (ngSubmit)="searchForProject(searchProjectForm)">
        <div class="d-flex form-outline align-items-center">
            <input
            ngModel
            class="form-control"
            placeholder="Search for a specific project here..."
            #username="ngModel"
            name = "searchInput"
            id = "searchInput"
            required>
            <button class="btn btn-outline-dark btn-search form-control"
                            type="submit">Søk</button>
        </div>
    </form>
    <div class="filterOptions">
        <button class="btn filterOption btn-outline-dark btn-all" (click)="searchForProject(searchProjectForm)">All</button>
        <button class="btn filterOption btn-outline-dark btn-music" (click)="searchMusic(searchProjectForm)">Music</button>
        <button class="btn filterOption btn-outline-dark btn-film" (click)="searchFilm(searchProjectForm)">Film</button>
        <button class="btn filterOption btn-outline-dark btn-game" (click)="searchGame(searchProjectForm)">Game</button>
        <button class="btn filterOption btn-outline-dark btn-web" (click)="searchWeb(searchProjectForm)">Web</button>
    </div>
</div>
