#searchInput {
    min-width: 20.7rem;
    max-height: 1.6rem;
}

.btn-search {
    max-height: 1.6rem;
}

.filterOption {
    padding-top: 0.01rem;
    padding-bottom: 0.01rem;
    border-radius: 0.1rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    min-width: 3rem;
}

.filterAll {
    
}