<div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

        <fieldset class="mb-2">
          <label for="username" class="form-label">Username:</label>
          <input type="text"
                 ngModel
                 #username="ngModel"
                 name="username"
                 id="username"
                 required
                 minlength="2"
                 maxlength="40"
                 class="form-control">
        </fieldset>
    
        <section *ngIf="username.errors && (username.dirty)">
          <div class="alert alert-danger">
            <p class="d-flex align-items-center mb-0" *ngIf="username.errors.required">
              Please enter a username
            </p>
            <p class="d-flex align-items-center mb-0" *ngIf="username.errors.minlength">
              Username is too short
            </p>
          </div>
        </section>
    
        <button
          type="submit"
          class="btn btn-primary d-flex align-items-center">
          Login
        </button>
      </form>
</div>

