<div class="container border my-1 text-center d-flex flex-column">
  <li class="projectItem row">
    <div class="col-sm-6">
      <span class="align-self-center h4">{{project.title}}</span>
      <div class="row mt-3">
        <div class="col-sm-3">
          <div *ngIf="project.profession.id === 3, else isWeb" class="btn-game filterOption">
            <span>Spill</span>
          </div>
          <ng-template #isWeb>
            <div *ngIf="project.profession.id === 4, else isOther" class="btn-web filterOption">
              <span>Web</span>
            </div>
          </ng-template>
          <ng-template #isOther>
            <div class="filterOption" [ngClass]="project.profession.id === 1 ? 'btn-music' : 'btn-film'">
              <span>{{project.profession.name}}</span>
            </div>
          </ng-template>
        </div>
        <div class="col-sm-9">
          	<p class="projectDesc">{{project.description}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">

    </div>
    <div class="col-sm-3">
      <div class="d-flex col col-sm-4">
        <span class="row-sm-6 align-self-center">
          Erfaringer som søkes:
        </span>
        <ul class="row-sm-6">
          <li *ngFor="let skill of skillsNeeded">
            {{skill.name}}
          </li>
        </ul>
      </div>
    </div>
  </li>
</div>
