
<div *ngIf="this.userRole === 'admin', else isUser">
      <div class="applications">
        <button class="btn btn-lg btn-outline-primary" (click)="goToapplication()">Se applikasjoner</button>
        <hr>
      </div>
  </div>
  <ng-template #isUser>
    <div *ngIf="this.userRole === 'user', else isGuest">
        <div class="applications">
            <button class="btn btn-lg btn-outline-primary" (click)="goToapplication()">Se applikasjoner</button>
            <hr>
          </div>
    </div>
  </ng-template>
  <ng-template #isGuest>
    <div>
    </div>
  </ng-template>
