.chat{
  border: 3px solid black;
}
.chatbtn{
  background-color: #354A59;
}
.chatlist{
  background-color: white;
  height: 400px;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.refreshbtn{
  background-color: #354A59;
  margin-top: 10px;
}
