<div class="chat">
  <ul class="chatlist">
    <li *ngFor="let msg of messages">
      <div style="font-weight:bold;">{{msg.content}}</div>
      <div>Posted by: {{msg.user.username}} at: {{msg.postedTime}}  </div>
      <p style="font-weight: bold;"> </p>
    </li>
  </ul>
  <form #newMessageForm="ngForm" (ngSubmit)="postMessage(newMessageForm)">
    <input
    ngModel
    class="form-control"
    placeholder="Post a new message here..."
    #username="ngModel"
    name = "message"
    id = "message"
    required> <br/>
    <div class="chatbtn justify-content-center" >
      <button class="btn skill form-control" style="color: white;"
      type="submit">Post new message</button>
    </div>
    <div class="refreshbtn justify-content-center">
      <button class="btn refresh form-control" style="color: white;"
      onclick="window.location.reload()">Refresh chat</button>
    </div>
  </form>
</div>
