<li class="projectItem col text-center border d-flex flex-column">
  <div class="row-sm-4 py-2 row">
    <span class="col-sm-8 align-self-center h4">{{project.profession}}</span>
    <div class="d-flex col col-sm-4">
      <span class="row-sm-6 align-self-center">
        skills needed:
      </span>
      <ul class="row-sm-6">
        <li *ngFor="let id of project.skills">
          <div *ngFor="let skill of skills">
            <div *ngIf="skill.id === id">
              {{skill.name}}
            </div>
          </div>
        </li>
      </ul>
      </div>
    </div>
  <div class="row-sm-8 py-5" [ngStyle]="{'background-color': project.image}">
    <span>{{project.title}}</span>
  </div>
</li>
