<div class ="container" style="margin-top: 30px;">
  <div class ="row" style="margin-bottom: 20px;">
    <h3 class ="col-sm-8 text-center">
      Hello {{user.userName}}
    </h3>
    <div class ="col-sm-4">
      <mat-slide-toggle
        [(ngModel)]="isChecked"
        class="example-margin"
        (change) = "changed()"
        >Hidden mode: {{isChecked}}
      </mat-slide-toggle>
    </div>
  </div>
  <div class ="row">
    <div class="col-sm-6">
      <form #addSkillForm="ngForm" (ngSubmit)="addSkill(addSkillForm)">
        <input
        ngModel
        class="form-control"
        placeholder="Add your skill here..."
        #username="ngModel"
        name = "skills"
        id = "skills"
        required> <br/>
        <div class="p-3 justify-content-center">
          <button class="btn btn-success form-control"
          type="submit">Add your skill</button>
          <h5>
            Your current list of skills are:
          </h5>
          <ul>
            <li *ngFor="let skill of user.skills">{{skill}}</li>
          </ul>
        </div>
      </form>
    </div>
    <div class ="col-sm-6">
      <form #handleDescriptionForm="ngForm" (ngSubmit)="handleDescription(handleDescriptionForm)">
        <input
        ngModel
        class="form-control"
        placeholder="Describe yourself in a short..."
        #username="ngModel"
        name = "description"
        id = "description"
        required> <br/>
        <div class="p-3 justify-content-center">
          <button class="btn btn-primary form-control"
            type="submit">Update your description
          </button>
          <h5>
            Your current description is:
          </h5>
          <div>
            {{user.description}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

