  <div class ="container">
    <div class ="mx-auto">
      <div *ngIf="auth.user$ | async as user">
          <div class="col-md text-center text-md-left">
            <h2>{{ user.name }}</h2>
            <p class="lead text-muted">{{ user.email }}</p>
          </div>
        </div>
    </div>
    <div class ="mx-auto">
      <form #addSkillForm="ngForm" (ngSubmit)="addSkill(addSkillForm)">
        <input
        ngModel
        class="form-control"
        placeholder="Add your skill here..."
        #username="ngModel"
        name = "skills"
        id = "skills"
        required> <br/>
        <button class="btn btn-success form-control"
        type="submit">Add your skill</button>
        <ul>
          <li *ngFor="let skill of skills">{{skill}}</li>
        </ul>

    </form>
    </div>
    <div>
      <form [formGroup] = "textAreaForm">
        <div  class="sub-heading">
          <h5>
            Describe yourself
          </h5>
        </div>
        <textarea class ="text-area" formControlName="textArea"></textarea>
     </form>
     <div class="sub-heading">
        <h5>
          This is how textArea Will be stored:
          {{textAreaForm.get("textArea")!.value | json}}
        </h5>
      </div>
    </div>

    <div>
      <mat-slide-toggle
       [(ngModel)]="isChecked"
        class="example-margin"
       (change) = "changed()"
        >Hidden mode: {{isChecked}}
      </mat-slide-toggle>
    </div>
  </div>

