<div class="my-overlay" *ngIf="loading">
  <i class="fa fa-spinner fa-spin" aria-hidden="true"> Loading..</i>
</div>
<main>
  <div >
      <app-main-list-of-projects></app-main-list-of-projects>
  </div>
</main>
<footer class="pagination container justify-content-center" *ngIf="totalPages !== 1 && totalPages !== 0 && !recommended">
  <div>
    <div class="mt-1">
      <button class="btn btn-outline-dark" (click)="onPrevClick()" [disabled]="currentPage === 1">Prev</button>&nbsp;
      <button class="btn btn-outline-dark" (click)="onNextClick()" [disabled]="currentPage === totalPages">Next</button>
    </div>
    <p class="text-center mt-1">Page {{ currentPage }} of {{ totalPages }}</p>
  </div> 
</footer>
