<div>
  <div class="w-100 p-3">  <br/>
    <div class="">
        <form #searchProjectForm="ngForm" (ngSubmit)="searchForProject(searchProjectForm)">
            <input
            ngModel
            class="form-control"
            placeholder="Search for a specific project here..."
            #username="ngModel"
            name = "searchInput"
            id = "searchInput"
            required> <br/>
            <button class="btn btn-success form-control"
            type="submit">Search</button>
        </form>

    </div>
</div>
