<div>
  <div class="w-100 p-3">  <br/>
    <div class="">
        <form #searchProjectForm="ngForm" (ngSubmit)="searchForProject(searchProjectForm)">
            <input
            ngModel
            class="form-control"
            placeholder="Search for a specific project here..."
            #username="ngModel"
            name = "projectName"
            id = "projectName"
            required> <br/>
            <button class="btn btn-success form-control"
            type="submit">Search</button>
        </form>
        <br>
        <ul class="d-flex flex-wrap">
          <app-main-list-of-projects-item *ngFor="let item of specificProject"
          [project]="item">
          </app-main-list-of-projects-item>
      </ul>
    </div>
</div>
